[Unit]
Description=Minecraft server daemon
After=network-online.target

[Service]
Type=simple
User=minecraft
Group=minecraft
KillMode=process
KillSignal=SIGINT

ExecStart=/usr/local/bin/minecraftd --daemon

[Install]
WantedBy=multi-user.target
