{

	"server": {
		"server_path" : "/opt/minecraft",
		"server_jar" : "server.jar",
		"java" : "java",

		"jvm_arguments" : [
			"-XX:+UnlockExperimentalVMOptions",
			"-XX:+UseG1GC",
			"-XX:G1NewSizePercent=20",
			"-XX:G1ReservePercent=20",
			"-XX:MaxGCPauseMillis=50",
			"-XX:G1HeapRegionSize=16M",
			"-server",
			"-Xms4G",
			"-Xmx6G"
		],


		"shutdown_commands" : [
			"save-all",
			"stop"
		]

	},

	"minecraftd": {
		"logfile" : "",
		"console_socket_path" : "/var/lib/minecraftd/control.sock",
		"history_length" : 10,
		"log_level" : "INFO"
	}

}
